body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header, footer, #controllers, #statistics, #infobox {
	margin: 0 1rem;
}

h2 {
	font-size: 1rem;
}

#chart {
	height: 400px;
	margin-top: 0.5rem;
	display: flex;
	justify-content: space-between;
}

#label_box {
	width: 120px;
}

#plot_box {
	overflow-y: hidden;
	overflow-x: scroll;
	width: calc(100% - 120px);
/*	background: rgb(1,255,255);
	background: linear-gradient(90deg, rgba(1,255,255,1) 90%, rgba(1,255,255,0.01) 100%);*/
}

#infobox {
	margin-left: 120px;
	padding-top: 2rem;
	height: 3rem;
}

.strip_box, .website {
	cursor: pointer;
}

.x_axis path {
	stroke: none;
}

.x_axis text, .x_axis .tick line {
	fill: gray;
}

.labels {
	font-size: 0.8rem;
}

#controllers {
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#controllers select {
	width: 30%;
	height: 2rem;
}

#statistics {
	margin: 2rem 1rem 3rem;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #ccc;
	padding-top: 0.5rem;
}

.statistics_box {
	width: 28%;
}

.statistics_box table {
	width: 100%;
}

table td:nth-child(2){
	text-align: right;
}

/*table td {
	border-bottom: 1px solid black;
}
*/
@media only screen and (max-width: 725px) {
	#statistics {
		display: block;
	}

	.statistics_box {
		width: 100%;
	}
}